@import '../base/breakpoints';

.about-page {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0;
    width: 100%;
}

.about-wrapper {

    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.65rem;
        line-height: 1.5rem;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .about-text p {
        margin-bottom: 20px;
        padding: 15px;
        text-align: left;
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        border-radius: 5px;
        box-shadow: 0 3px 3px -3px dimgrey;
        background-color: transparent;
        box-sizing: content-box;
    }
}

.dots {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 3px;
    margin-top: -1.5px;
    margin-left: 20px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    box-shadow: 20px 0 0 #fff,40px 0 0 #fff,60px 0 0 #fff;
    animation: r-to-l .5s infinite;
}

.download {
    height: 35px;
    width: 35px;
}

#aboutCv {
    padding: 15px 0;
    background-color: transparent;
    display: flex;
    flex: 0 1 auto;
    width: 90%;

    &:after {
        content: "";
        width: 100%;
        left: 0;
        bottom: -100px;
        height: 100px;
        box-shadow: 0 0 80px 0 transparent;
        position: absolute;
    }
}

.hideCv {
    display: none;
}

.cvContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.cvButton {
    font-size: 15px;
    font-style: oblique;
    padding: 10px 25px;
    margin-top: 75px;
    background-color: transparent;
    color: dimgrey;
    cursor: pointer;
    &:hover {
        background-color: #2f70dd;
        color: #ffffff;
    }
}

.code-box {
    border-radius: 5px;
    box-shadow: 0 1px 3px dimgrey;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.code-wrp {
    font-size: 0.65rem;
    line-height: 1.6;
    margin-top: 10px;
}
.code-l {
    z-index: 1;
    position: relative;
    margin-left: 55px;
    color: #539ae4;
    &:after {
        content: attr(data-line-nr);
        position: absolute;
        left: -60px;
        color: lightsteelblue;
        font-size: 15px;
        line-height: 1.6;
        z-index: 2;
        top: 0;
    }
}

.section-title {
    color: #539ae4;
}

.methods {
    color: #f7b91e;
    display: inline;
}
.propName {
    color: greenyellow;
}
.dot {
    color: #ffffff;
    display: inline;
}
.comment {
    color: #78707e;
    display: inline;
    font-style: oblique;
}
.scope {
    color: red;
    display: inline;
}
.prop2 {
    color: #24e394;
}
.string {
    color: dimgrey;
}
.number {
    color: #24e394;
}
.cursor:before {
    opacity: 0;
    content: "|";
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes r-to-l {
    to {
        margin-left: -1px;
    }
}

@keyframes up {
    0%,to {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-35deg);
    }
}

@keyframes down {
    0%,to {
        transform: rotate(0);
    }

    50% {
        transform: rotate(35deg);
    }
}

.whitespace {
    width: 100%;
    height: 100px;
}

.timeline {
    width: 1px;
    height: 100%;
    margin-left: 50px;
    top: 10px;
    z-index: 2;
    position: absolute;
    background-color: lightsteelblue;
    overflow: hidden;
    &.alt {
        top: 55px;
    }
}

@include breakpoint-medium-down {
    #aboutCv, .cvButton {
        display: none;
    }
    .about-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        .about-text p {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            width: 90%;
        }
    }
}
