@import '../base/breakpoints';

.portfolio-page {
    padding: 2rem 0;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

    @include breakpoint-small-down {
        padding-top: 3rem;
    }

    .portfolio-wrapper {
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: auto;

        p {
            font-weight: 300;
            line-height: 1.5rem;
        }

        @include breakpoint-small-down {
            flex-direction: column;
            align-items: center;
        }
    }
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 19rem;
    margin: 1rem 1rem;
    transition: all 0.5s ease;
    border-radius: 5px;
    box-shadow: 0 1px 3px dimgrey;
    background-color: transparent;
    box-sizing: content-box;
    @include breakpoint-small-down {
        width: 85%;
        height: 45vh;
    }

    &__title {
        flex: 1;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-style: oblique;
        font-weight: 400;
        text-align: center;
        @include breakpoint-small-down {
            font-size: 1.25rem;
        }
    }

    &__desc {
        text-align: center;
        padding: 0 0.5rem;
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-bottom: 50px;

        @include breakpoint-small-down {
            font-size: 0.875rem;
        }
    }

    &__links {
        padding: 0 0 0.75rem;
        display: flex;
        justify-content: space-around;
        font-size: 0.875rem;
        font-weight: 400;

        a {
            padding-bottom: 0.25rem;
            border-bottom: 2px solid transparent;

            &:hover {
                cursor: pointer;
                border-bottom: 2px solid inherit;
            }
        }
    }

    &:hover {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
        transition: all 0.5s ease;
        border-radius: 5%;
        transform: scale(1.15);
        .portfolio-item__title {
            color: #2f70dd;
        }
    }
}
